/rvm_repo
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Project specific
models/*.pth
*.mp4
*.mov
*.webm
*_temp_frames/
output_*
!9cffc717-63fb-4988-b2e0-a7cf07fea0f0.MP4

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Log files
*.log
logs/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python

*.mp4
*.mov
*.webm
*.MP4